
$FreeBSD$

--- /dev/null
+++ src/addins/AspNet/MonoDevelop.AspNet.Mvc/Templates/Common/ViewPageRazor.cshtml
@@ -0,0 +1,16 @@
+@{
+    Layout = null;
+}
+
+<!DOCTYPE html>
+
+<html>
+<head>
+    <title></title>
+</head>
+<body>
+    <div>
+    
+    </div>
+</body>
+</html>
