
[Desktop Entry]
Version=@VERSION@
Encoding=UTF-8
Name=Stripes
Comment=Bar Code generator
GenericName=Stripes
Exec=mono /usr/local/bin/stripes-sharp.exe
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Utility;
