
$FreeBSD$

--- /dev/null
+++ src/addins/AspNet/MonoDevelop.AspNet.Mvc/Templates/Common/_Layout.cshtml
@@ -0,0 +1,9 @@
+<!DOCTYPE html>
+<html>
+<head>
+    <title>@ViewBag.Title</title>
+</head>
+<body>
+	@RenderBody()
+</body>
+</html>
